.examCard {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em 0.75em;
  width: 100%;
}

.examPercent {
  font-size: 2rem;
  text-align: center;
  padding: 0.5em 0;
}

.examCardBody {
  margin-top: auto;
}

.examCardTitle {
  font-size: 0.95rem;
}

.examCardSubject {
  font-size: 0.8rem;
  color: #6c757d;
}
